<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Main Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-3">
        <div class="mb-4">
            <h2> یکی از گزینه‌های زیر را انتخاب کنید</h2>
            <a href="/admin/" class="btn btn-secondary mb-2">ورود به صفحه ادمین</a>
            <a href="{% url 'add_phone' %}" class="btn btn-primary mb-2">اضافه کردن تلفن جدید</a>
            <a href="{% url 'search_view' %}" class="btn btn-warning mb-2">انجام درخواست روی تلفن ها</a>
            <a href="{% url 'logout' %}" class="btn btn-danger mb-2">خروج</a>
        </div>
    </div>
</body>
</html>